<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"> 
    <head th:replace="~{layout/plantilla :: head}">
        <title>Finca de muchi</title>
    </head>
    <body>     
        <header th:replace="~{layout/plantilla :: header}" />
            <div class="container mt-4">
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="card contact-card">
                                <div class="card-body">
                                    <h2 class="card-title">Información de Contacto</h2>
                                    <p class="card-text"><i class="fas fa-phone-alt contact-icons"></i> 7139 5732</p>
                                    <p class="card-text"><i class="fas fa-map-marker-alt contact-icons"></i> Lugar: 📍Frailes</p>
                                    <p class="card-text"><i class="fas fa-envelope contact-icons"></i> contacto@lafinca.com</p>
                                </div>
                            </div>
                            <div class="card contact-card">
                                    <div class="card-body d-flex justify-content-center align-items-center">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90387.97866644779!2d-84.05021787892039!3d9.750242515195911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa11b9c50a98e05%3A0xdec3088c81849462!2sSan%20Jos%C3%A9%2C%20Frailes!5e0!3m2!1ses-419!2scr!4v1721068844634!5m2!1ses-419!2scr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </body>
</html>
