<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Exp</title>
    </head>
    <body>
        <section th:fragment="listadoUsuarios" id="usuarios">
            <div class="">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-lg-10">
                            <h1>Usuarios</h1>
                        </div>
                        <div class="col-lg-2 mr-0">
                            <button 
                                type="button" 
                                class="btn btn-primary w-100 text-nowrap" data-bs-toggle="modal" 
                                data-bs-target="#agregarUsuarios"> 
                                <i class="fas fa-plus"></i> Agregar usuario
                            </button>
                        </div>
                        <p th:if="${totalUsuarios == 0}">
                            No hay usuarios para mostrar
                        </p>
                        <div th:each="item : ${usuarios}" class="col-lg-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="container mt-4">
                                        <div class="row">

                                            <div class="col-lg-3">
                                                <img th:src="@{${item.rutaImagen}}" alt="Image" class="img-circle" />
                                            </div>
                                            <div class="col-lg-7">
                                                <h1 th:text="${item.username}"></h1>
                                                 <input type="checkbox" id="activo" name="activo" 
                                                       th:checked="${item.activo}" disabled />
                                                 <label for="activo" th:text="${item.activo ? 'Usuario activo' : 'Usuario inactivo'}"></label>
                                            </div>
                                            <div class="col-lg-2">
                                                <a th:href="@{/Usuarios/eliminar/{id}(id=${item.id})}" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>

                                                <a th:href="@{/Usuarios/modificar/{id}(id=${item.id})}" class="btn btn-success">
                                                    <i class="fas fa-pencil"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="agregarUsuario">
            <div id="agregarUsuarios" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/Usuarios/Guardar}" th:object="${usuario}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="username">Nombre de usuario</label>
                                    <input type="text" class="form-control" name="username" id="username" th:value="${usuario.username}" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" th:value="${usuario.password}" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="mail">Email</label>
                                    <input type="email" class="form-control" name="mail" id="mail" th:value="${usuario.mail}" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="role">Rol</label>
                                    <select id="role" name="role" class="form-control" required>
                                        <option value="" disabled selected>Selecciona un rol</option>
                                        <option value="cliente">cliente</option>
                                        <option value="empleado">empleado</option>
                                        <option value="admin">Admin</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">Activo</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo" th:checked="${usuario.activo}"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagenFile">Imagen</label>
                                    <input class="form-control" type="file" name="imagenFile" id="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="editarUsuarios">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/Usuarios/Guardar}" 
                          th:object="${usuario}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="id" th:field="*{id}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{Usuarios/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar usuario</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="username">Nombre de usuario</label>
                                                    <input type="text" class="form-control" 
                                                           name="username" th:field="*{username}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password">Contraseña</label>
                                                    <input type="text" class="form-control" 
                                                           name="password" th:field="*{password}"
                                                           required="true">
                                                </div>
                                                 <div class="mb-3">
                                                    <label for="mail">Email:</label>
                                                    <input type="text" class="form-control" 
                                                           name="mail" th:field="*{mail}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="role">Rol</label>
                                                    <input type="text" class="form-control" 
                                                           name="mail" th:field="*{role}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">Activo</label>
                                                    <input type="checkbox" class="form-control-checkbox" 
                                                           name="activo" th:field="*{activo}"
                                                           required="true">
                                                </div>

                                                <div class="mt-5 mb-3 container">
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <img id="blah" class="img-circle" th:src="@{${usuario.rutaImagen}}" alt="your image" height="200"/>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="mt-3">
                                                                <label for="imagenFile">Imagen</label>
                                                                <input class="form-control"  type="file" name="imagenFile" onchange="readURL(this);" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/Usuarios}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Volver
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/Usuarios/eliminar/}+${usuario.id}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
